* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    background-color: rgba(225, 232, 240, 0.8);
    border-radius: 5px;
    margin-top: 2px;
}

.row::before, .row::after {
    display: block;
    content: '';
    clear: both;
}

.row {
    height: 100%;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
}

.col-4 {
  width: 33.33333%;
  text-align: center;
}

.col-8 {
  width: 66.66667%;
}

.col-12 {
    width: 100%;
}

@media (max-width: 550px) {
  [class*="col-"] {
    width: 100%;
  }
}

body {
    margin: 0;
    padding: 0;
    background: #24C6DC;
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);
    background: linear-gradient(to right, #514A9D, #24C6DC);
    -webkit-transition: .5s;
    transition: .5s;
}

section#score {
    width: 100%;
    text-align: center;
    padding: 30px;
}

#board {
    position: relative;
    width: 640px;
    height: 640px;
    margin: 1em auto;
}

#board>.gameGrid {
    float: left;
    width: 64px;
    height: 64px;
    background-color: #dfdce3;
    border: 1px solid green;
}

/* POPUP */

.popup {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    background: #fff;
    border-radius: 5px;
    width: 500px;
    height: 450px;
    font-family: 'Pacifico';
    z-index: 1;
    background-color: #f7b733;
    -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
}

.bone {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FC4A1a;
}

.bone:nth-child(1) {
    top: 17px;
    left: 17px;
}

.bone:nth-child(2) {
    top: 17px;
    left: 455px;
}

.bone:nth-child(3) {
    left: 455px;
    top: 408px;
}
.bone:nth-child(4) {
    left: 17px;
    top: 408px;
}

.hbtn {
      background-color: #FC4A1a;
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      overflow: hidden;
      padding: 8px 20px;
      margin: 15px 3px 6px;
      text-align: center;
      border: 2px solid rgb(255, 255, 255);
      text-decoration: none;
      color: rgb(255, 255, 255);
      white-space: nowrap;
      z-index: 0;
      font-size: 2.0em;
}

.hb-border-bottom-br4 {
      position: relative;
      transition-duration: 0.3s;
      overflow: visible;
      box-sizing: border-box;
      border: none;
      padding: 0px 35px;
}

.hb-border-bottom-br4::after {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      border: 2px solid rgb(255, 255, 255);
      z-index: 2;
      margin: 0px;
      left: 0px;
      bottom: 0px;
      border-top-width: 2px;
      transition: border-top-width 0.1s 0.2s, height 0.2s 0.1s, width 0.2s 0s, margin 0.2s 0s, border-bottom-width 0.2s 0s;
}

.hb-border-bottom-br4:hover::after {
      width: 60%;
      height: 0px;
      border-width: 0px 2px 4px;
      margin: 0px 20%;
      transition: border-top-width 0.1s 0s, height 0.2s 0.1s, width 0.2s 0.2s, margin 0.2s 0.2s, border-bottom-width 0.2s 0.2s;
}

/* BUTTONS */

.action-button {
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.note {
    width: 160px;
    height: 160px;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    float: left;
    margin: 8px;
    border: 1px solid rgba(0,0,0,.25);
}

.sticky1 {
    transform: rotate(-3.5deg);
    -webkit-transform: rotate(-3.5deg);
    -moz-transform: rotate(-3.5deg);
    background-color: #CBFAFA;
}

.text {
    margin: 10px;
    font-family: 'The Girl Next Door', cursive;
}

#score p:last-of-type {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #FFF;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
}

#score p {
    font-family: 'Pacifico', cursive;
    font-size: 1em;
    color: #FFF;
}

#score span {
    font-size: 35px;
}

.action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

.yellow {
    background-color: #F2CF66;
    border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358;
}

.red {
    background-color: #FC4A1a;
    border-bottom: 5px solid #BD3E31;
    text-shadow: 0px -2px #BD3E31;
}

/* SCORE BOARD */

.scoreBoard {
    position: absolute;
    left: 10em;
    top: 10em;
    width: 20em;
    height: 15em;
    text-align: center;
    text-decoration: none;
    color: white;
    background: green;
    border: 1px solid red;
    border-radius: 5px;
}

/* DOG and DAINTY */

.dog {
    background-image: url('../images/doggy.ico');
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    background-size: cover;
}

.dainty {
    background-image: url('../images/dainty.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.invisible {
    display: none;
}

/* BLACKBOARD */

.blackboard {
        position: relative;
        width: 80%;
        min-height: 630px;
        margin: 2% auto;
        margin-top: 20px;
        border: tan solid 12px;
        border-top: #bda27e solid 12px;
        border-left: #b19876 solid 12px;
        border-bottom: #c9ad86 solid 12px;
        box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
        background-image: radial-gradient( circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient( 215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient( circle at right, #111, rgba(51, 51, 51, 1));
        background-color: #333;
}

p {
        position: relative;
        margin-bottom: 1em;
}
